@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-solway: 'Solway', sans-serif;
    --bg-color: #81ecec;
    --text-color: #dfe6e9;
    --text-dark-color: #2d3436;
    --grey-dark: #b2bec3;
    --grey-light: #dfe6e9;
    --sidebar-bg-color: #d63031;
    --items-bg-color: #00cec9;
    --border-radius: 20px;
}

body {
    font-family: var(--font-poppins);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.shop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.shop_top {
    display: flex;
    width: 100%;
    height: 60%;
}

.sidebar {
    position: relative;
    flex-basis: 40%;
    background-color: var(--sidebar-bg-color);
    text-align: center;
    overflow: hidden;
    border-top-left-radius: var(--border-radius);
}

.sidebar > img {
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-40%);
    width: 150%;
    height: auto;
}

.shop_header {
    margin-top: 50%;
}

.shop_header h1 {
    font-size: 2.8rem;
    line-height: 3rem;
}

.shop_header h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.shop_header p {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
}

.balance_wrapper {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--grey-light);
    border-top-right-radius: var(--border-radius);
}

.balance {
    position: relative;
    margin-top: 4rem;
    padding: 20px;
    width: 70%;
    height: 60%;
    border: 10px dashed var(--grey-dark);
}

.earning {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    width: 200px;
    margin: auto;
    background-color: #fff;
    color: var(--text-dark-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 6px 24px;
    border-radius: 20px;
}

.earning span::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    vertical-align: middle;
    background-size: 20px 20px;
    background-image: url(../assets/coin.png);
}

.balance > img {
    width: 100px;
    height: auto;
}

.balance .scale {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(110%);
    color: var(--grey-light);
    margin: auto;
    width: 80px;
}

.shop_bottom {
    width: 100%;
    height: 40%;
    background-color: var(--items-bg-color);
    padding: 2rem;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.item {
    width: calc(100% / 4 - 20px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

.item > img {
    width: 120px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .shop_header {
        margin-top: 50%;
    }

    .shop_header h1 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .shop_header h2 {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .shop_header p {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.4rem;
    }
}